<ion-view view-title="{{'More' | translate}}">
  <ion-content class="has-header">
    <div class="list">
      <div class="item item-divider">
        {{'Account' | translate}}
      </div>
      <a class="item" ng-href="" ng-click="uploadModal.show()">
        {{'Upload profile picture' | translate}}
      </a>
      <a class="item" ng-href="" ng-click="modalLang.show()">
        {{'Change language' | translate}}
      </a>
      <a class="item" ng-href="" ng-click="changepass.show()">
        {{'Change password' | translate}}
      </a>
      <a class="item" ng-href="" ng-click="logout()">
        {{'Log out' | translate}}
      </a>
    </div>
  </ion-content>
</ion-view>
<script id="change-lang.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-energized">
      <button type="button" class="button button-icon icon ion-ios7-close-empty" ng-click="modalLang.hide()"></button>
      <div class="h1 title">{{'Change language' | translate}}</div>
    </ion-header-bar>
    <ion-content>
      <ion-radio ng-model="lang" ng-value="'en'" ng-change="changeLang('en')">{{'English' | translate}}</ion-radio>
      <ion-radio ng-model="lang" ng-value="'es'" ng-change="changeLang('es')">{{'Español' | translate}}</ion-radio>
    </ion-content>
  </ion-modal-view>
</script>
