<ion-view view-title="{{'Profile' | translate}}">
    <ion-nav-buttons side="right">
      <a ui-sref="app.options" class="button-icon icon ion-more stable"></a>
    </ion-nav-buttons>
    <user-profile-directive></user-profile-directive>
</ion-view>
<script id="evidence.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-energized">
      <button type="button" class="button button-icon icon ion-ios7-close-empty" ng-click="evidenceModal.hide()"></button>
      <div class="h1 title">{{'Evidence' | translate}}</div>
    </ion-header-bar>
    <ion-content>
      <div challenge-directive type="evidence"></div>
    </ion-content>
  </ion-modal-view>
</script>
