$energized: #e67e22;
$center-margin:    0 auto;
$color-text:  #666;
$grey: #ccc;
$border-color: #ddd;
$white: #fff;
$profile-header: 154px;
$shadow-button: 0px 3px 6px -5px #000 inset;
$p-size: 14px;
$font: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@import "../lib/ionic/scss/ionic";

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
p, .item.item-toggle{
  color: $color-text;
}
.item.item-toggle{
  font-size: $p-size;
}
.no-border{
  border-color: transparent;
}
.pane, .view{
  background-color: #eee;
}
a{
  text-decoration: none;
}
video.video-player{
  display: block;
  margin: 0;
}
div.list.card .media-container{
  position: relative;

  .ion-play {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 50px;
    margin-top: -15px;
    margin-left: -15px;
  }
  img {
    max-width: 100%;
    margin: $center-margin;
    display: block;
  }
}
span.drop-down{
  position: absolute;
  top: 30%;
  right: 3px;
  cursor: pointer;
  padding: 11px;

  i{
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    pointer-events: none;
    display: block;
  }
}
#comments.list , #comments.list .item, #comments .item p {
  overflow: visible;
  white-space: normal;
  text-overflow: initial;
}
.item.item-avatar , .item.item-body , .item.energized{
  @extend .no-border;
}
.padding.world{
  padding-top: 50px;
}
.padding.create{
  padding: 0px 0 10px 0;
}
.item.item-input.item-input-description{
  padding: 16px 0 15px 16px;
}
.item-body p.narrow {
  overflow: hidden;
  white-space: nowrap;
}
.item.item-body.top-border{
  border-top-color: $border-color;

  p{
    margin-top: 0;
  }
}
p.helper{
  min-width: 46px;
}
.grid {
  width: 100%;
  height: 250px;
}

.splash {
  background-size: cover;
  background-position: 40%;
  background-image: url('../img/ny.jpg');

  h1 {
    text-align: center;
    color: $white;
    margin-top: 30px;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    display: block;
    height: calc(100% - 205px);
  }

  button.button {
    opacity: 0.85;
    border: none;
  }
}
.add-media {
  border: 1px dashed $grey;
  text-align: center;
  color: $grey;
  font-size: 33px;

  .col {
    padding: 40px 0px;
  }
  p{
    color: $grey;
  }
  .col.photo {
    border-bottom: 1px dashed $grey;
  }
}
.profile-img {
  border-radius: 50%;
  @include size(60px);
  box-shadow: 2px 2px 12px -3px #000;
  border: 1px solid $energized;
}
.user-profile{
  h2{
    font-size: 18px;
    color:$color-text;
  }
  h3{
    font-size: 20px;
    color:$energized;
  }
}
.row.stats{
  p{
    margin: 0;
    padding: 0;
    line-height: normal;
    text-align: center;
  }
  .col.active{
    p{
      color: $energized;
    }
  }
}
.card.profile {
  width: 100%;
  padding: 0;
  margin: 44px 0 0 0;
  position: relative;
  z-index: 1;
}
.profile-header{
  top: $profile-header;
}
.evidence .item.tabs.tabs-primary.tabs-icon-left .tab-item{
  margin: 0;
  border: none;
  max-width: none;
  font-size: 18px;
  box-shadow: $shadow-button;
}
.evidence .item.tabs.tabs-primary.tabs-icon-left .tab-item.accept{
  background: $energized;
  color: $white;
}
.evidence .item.tabs.tabs-primary.tabs-icon-left .tab-item.deny{
  background: none;
  color: $energized;
}
.list.card a.item.energized{
  background: $energized;
  color: $white;
  box-shadow: $shadow-button;
  font-size: 20px;
}
.add-media.upload .col{
  padding:20px 0;
}
.profile-img-wrap{
    border: none;
    background: none;
    text-align: center;
}
.search-view .button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: $energized;
}
.search-view .button.button-icon.input-button:before{
  font-size: 20px;
}
.search-view .item img {
  height: 60px;
  width: 60px;
  float: left;
  margin-right: 10px;
}
.search-view .list .my-item.item {
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.padding.home{
  padding: 44px 10px 10px 10px;
}
.tabs .tab-item .badge.badge-energized, .badge.badge-energized{
  opacity: 1;
}
.notifications .item{
  padding-top: 11px;
  padding-bottom: 6px;
}
.tags-in li.tag-item{
  background: $energized;
  border: none;
  color: $white;
}
tags-input .tags .tag-item .remove-button {
  color: $white;
  content: '\f404';
  font: initial;
  padding: 5px;
  margin: 0;
}
tags-input .tags .tag-item{
  font-family: $font;
}
tags-input .tags{
  border: none;
  box-shadow: none;
  -webkit-appearance: initial;

  .tag-item.selected{
    background: $grey;
  }
  .input.invalid-tag{
    color: $grey;
  }
}
.item.item-tags {
  position: relative;
  z-index: 3;
  overflow: visible;
  padding-top: 0px;
  padding-bottom: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  i{
    float: left;
    margin-top: 11px;
  }
}
div.list.card .challengers {
  text-align: center;
  img{
    width: calc(244px / 5);
    border-radius: 50%;
    display: inline-block;
  }
}
.upload-pic .col.photo {
  border-bottom: none;
  border-right: 1px dashed;
}
div#global-loader {
  width: 100%;
  height: 7px;
  background: #eee;
  z-index: 2;
  display: block;
  position: absolute;
  top: 44px;
}
.load-bar {
  display: block;
  height: 100%;
  background: $energized;
  width: 0%;
}
div#complete-upload {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;

  position: relative;
  left: 101%;
  width: 100%;
}
div#complete-upload.done{
  left: 0%;
}
a.active.create-tab.tab-item {
  height: calc(100% + 3px);
  background: $energized;
}
a.active.create-tab.tab-item i{
  color:$white;
}
.item.media-item{
  text-align: center;
}
.for-image img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.hide-upload{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  overflow: hidden;
  left: 0;
}
.bar-light.search-bar{
  background-color: $energized;
  padding: 0px 0px 0px 4px;
}
input.search-input{
  height: 41px;
  padding-left: 8px;
}
.search-bar{
  .button.back-button.buttons.button-icon.ion-arrow-left-c{
    color: $white;
  }
}
p.tags a{
  color: $energized;
  font-weight: bold;
}
.challenges{
  .tabs-top > .tabs, .tabs.tabs-top{
    position: static;
    border: none;
  }
  .tabs-top .tabs .tab-item.active{
    border: none;
    margin-top: 0;
  }
}
.item.item-body.top-border.range {
  border-top: none;
  padding: 0px 11px 17px 11px;
}
.item-input.add-people span.input-label {
  color: $color-text;
  font-size: $p-size;
  margin-left: 7px;
}
::-webkit-input-placeholder {
  color:    $color-text;
}
.checkbox-energized img {
  width: 28px;
  position: absolute;
  right: 10px;
  top: 50%;
  border-radius: 50%;
  margin-top: -14px;
}
.people span {
  color: $energized;
  font-style: italic;
  font-weight: bold;
}
.add-people span.people span:after{
  content: ", ";
}
.add-people span.people span:last-child:after{
  content: " ";
}
.notification{
  .item-icon-right{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid $energized;
  }
}
#challenge-card .button.done{
  opacity: 1;
  color: $energized;
}
.center{
  text-align: center;
}
.item-tags .host .tags .input{
  width: 100% !important;
}
.item-tags .host.activated .tags .input ,
.item-tags .host .tags.focused .input,
.item-tags.hasTags .host .tags .input{
  width: inherit !important;
}
#comments .item{
  .reply {
    padding-left: 0;
  }
  form {
    display: inherit;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.item-input-inset{
  background-color: #fff;

  form {
    display: inherit;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.item-input-inset.comments-wraper {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
}
.is-white {
  background-color: #fff;
}
.bottom-margin {
  margin-bottom: 50px;
}
.button.button-dark.button-clear.energized {
  color: $energized;
}
.padding.home.tags{
  padding-top: 0;
}
.text-right {
  text-align: right;
}
.profile-header {
  .tabs-top {
    margin-top: 22px;
  }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ytp-icon-watermark{
  display: none;
}
