<ion-view title="Detail">
  <ion-content class="has-header is-white">
      <div challenge-directive class="bottom-margin" type="detail"></div>
  </ion-content>
  <div class="item-input-inset comments-wraper">
    <form name="formReplyBase" ng-submit="submitCommentBase(formReplyBase)" novalidate>
      <label class="item-input-wrapper">
        <input name="replyInput" id="replyInput" ng-model="replyCommentBaseInput.comment" type="text" placeholder="{{'Write a comment' | translate}}" ng-required="true">
      </label>
      <button type="submit" class="button button-small button-icon icon ion-ios7-paperplane" ng-disabled="formReplyBase.$invalid">
      </button>
    </form>
  </div>
</ion-view>
