<ion-view title="Challange">
  <ion-nav-buttons side="right">
    <a ui-sref="app.search" class="button-icon icon ion-ios-search-strong stable"></a>
  </ion-nav-buttons>
  <div class="tabs-top">
    <div class="tabs" ng-show="challenges.length">
      <a class="tab-item active" ng-href="">
        {{'Interests' | translate}}
      </a>
      <a class="tab-item" ng-href="">
        {{'World' | translate}}
      </a>
    </div>
  </div>
  <ion-content class="has-header padding home">
      <div challenge-directive type="general"></div>
  </ion-content>
</ion-view>
