<div class="list card">

  <div class="item item-avatar" ng-if="!progress">
    <img src="http://icons.iconarchive.com/icons/hopstarter/face-avatars/256/Male-Face-G3-icon.png">
    <h2>Ice bucket challenge</h2>
    <p>Sergio Robledo</p>
  </div>

  <div class="item item-body">
    <div class="media-container"><img src="http://www.lifenews.com/wp-content/uploads/2014/08/icebucketchallenge3.jpg" alt=""/></div>
    <p>
      What do you think?
    </p>
    <p>
      {{done}}
    </p>
  </div>
  <div class="item tabs tabs-primary tabs-icon-left" ng-if="!progress">
    <a class="tab-item accept" ng-href="" ng-click="confirm(true)">
      <i class="icon ion-happy"></i>
      {{'Accept' | translate}}
    </a>
    <a class="tab-item deny" ng-href="" ng-click="confirm(false)">
      <i class="icon ion-sad"></i>
      {{'Deny' | translate}}
    </a>
  </div>
</div>
