<ion-list id="comments">
  <ion-item ng-repeat="comment in comments" class="item item-avatar">
    <img ng-src="{{avatarUrl + comment.author.id + '.jpeg'}}" err-src>
    <p><a class="energized" href=""><b>{{comment.author.username}}</b></a> {{comment.comment}}</p>
    <ion-item ng-repeat="reply in comment.replies" class="item item-avatar">
      <img ng-src="{{avatarUrl + reply.author.id + '.jpeg'}}" err-src>
      <p><a class="energized" href=""><b>{{reply.author.username}}</b></a> {{reply.comment}}</p>
    </ion-item>
    <p><a ng-href="" ng-click="reply = ! reply; resize()"><b>{{'Reply' | translate}}</b></a></p>
    <div class="item-input-inset reply" ng-show="reply">
      <form name="formReply" ng-submit="submitComment(formReply, comment.id)" novalidate>
        <label class="item-input-wrapper">
          <input name="replyInput" ng-model="replyComment.comment" type="text" placeholder="{{'Reply to' | translate}} {{comment.user}}" ng-required="true">
        </label>
        <button type="submit" class="button button-small button-icon icon ion-ios7-paperplane" ng-disabled="formReply.$invalid">
        </button>
      </form>
    </div>
  </ion-item>
</ion-list>
