<div class="card" ng-hide="challenges.length">
  <div class="item item-text-wrap">
    <p class="no-challenges" ui-sref="app.create">{{'Looks like there are no challenges to show tab here to create one!' | translate}}</p>
  </div>
</div>
<ion-list ng-repeat="challenge in challenges" type="card">
  <ion-item class="item item-avatar item-icon-right">
    <img ng-src="{{avatarUrl + challenge.user + '.jpeg'}}" err-src>
    <h2>{{challenge.name}}</h2>
    <p ng-if="!user.isMe" ng-click="goUser(challenge.user)">{{'by' | translate}}: {{challenge.userToShow}}</p>
    <p ng-if="user.isMe">{{'by' | translate}}: {{user.username}}</p>
    <i class="icon energized" ng-class="challenge.following ? 'ion-checkmark-circled' : 'ion-plus-circled'" ng-click="follow(challenge);"></i>
  </ion-item>
  <ion-item class="item item-body">
    <div class="media-container" ng-click="play(challenge.media)">
      <i ng-if="challenge.thumbnails" class="ion-play"></i>
      <img ng-src="{{challenge.thumbnails.high.url}}" alt=""/>
    </div>
    <p>
      {{challenge.description}}
    </p>
    <p class="challengers">
      <a ng-repeat="people in challenge.people" ng-href="" ng-click="goUser(people)"><img src="http://lorempixel.com/100/101/people/?id={{people}}" alt="People Challenge"/></a>
      <p class="center">Challangers</p>
    </p>
    <p class="tags">
      <a ng-repeat="tags in challenge.tagsLower" ng-href="" ng-click="goTag(tags)">#{{tags}} </a>
    </p>
    <p>
      <button type="button" ng-click="like(challenge);" class="button icon-left ion-android-star button-clear button-dark" ng-class="challenge.hasMyVolt ? 'energized' : ''">{{challenge.voltsCount}}</button>
      <a ng-href="" ng-click="goDetail(challenge._id)" class="button icon-left ion-chatbubble button-clear button-dark">{{challenge.commentsCount}}</a>
    </p>
  </ion-item>
  <a ng-if="!user.isMe" class="item energized" ng-href="">
    <i class="icon ion-flash"></i>
    {{'Take Challenge' | translate}}
  </a>
  <a ng-if="progress && user.isMe" class="item energized" ng-href="" ng-click="evidence()">
    <i class="icon ion-play"></i>
    {{'View Evidence' | translate}}
  </a>
</ion-list>
<ion-infinite-scroll
  on-infinite="loadMore()"
  distance="1%">
</ion-infinite-scroll>

