<ion-header-bar class="bar-light search-bar">
  <div class="buttons">
    <button class="button back-button buttons button-icon ion-arrow-left-c header-item" ng-click="goBack()"></button>
  </div>
  <input type="search"
         placeholder="Search"
         ng-model="search"
         ng-focus="searchFocused = true"
         ng-blur="searchFocused = false"
         ng-change="getUsers(search)"
         class="search-input">
  <button ng-if="search.length"
          class="button button-icon ion-android-close input-button"
          ng-click="clearSearch()">
  </button>
</ion-header-bar>
<ion-content>
  <ion-list>
    <ion-item ng-repeat="item in items">

      <img ng-src="http://lorempixel.com/100/100/nightlife?id={{item._id}}">
      <h2>{{item.username}}</h2>
      <p>{{item.username}}</p>
      <ion-option-button class="button-energized"
                         ng-click="follow(item)">
        Follow
      </ion-option-button>
    </ion-item>
  </ion-list>
</ion-content>
