<ion-view title="{{'Create Challenge' | translate}}">
    <ion-nav-buttons side="right">
        <button
          ng-disabled="!challenge.name || !challenge.description"
          class="button button-icon icon ion-ios-checkmark-empty"
          ng-click="create()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
      <button ng-click="close()" class="button button-icon icon ion-ios-close-empty"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding create">
        <div class="list">
            <label class="item item-input">
              <i class="icon ion-flash placeholder-icon"></i>
              <input ng-model="challenge.name" id="input-name" type="text" placeholder="{{'Name the challenge' | translate}}">
            </label>
            <div class="item media-item">
              <div class="for-video">
                <div class="row">
                  <div class="col"><button ng-click="sheet()" class="button button-outline icon ion-ios-circle-filled button-energized"></button></div>
                  <div class="col" ng-show="videoSrc"><button ng-click="playvideo()" class="button icon ion-ios-play button-energized"></button></div>
                </div>
              </div>
            </div>
            <label class="item item-input item-input-description">
                <i class="icon ion-chatbubble placeholder-icon"></i>
                <input type="text" ng-model="challenge.description" placeholder="{{'Description' | translate}}">
            </label>
            <div class="item item-divider">
                {{'How long util?' | translate}}
            </div>
            <div class="item range range-energized">
                <p class="helper">{{'Days' | translate}}</p>
                <input ng-model="challenge.daysAvailable" type="range" name="rangeDay" min="1" max="31">
                <p>{{challenge.daysAvailable}}</p>
            </div>
            <div class="item item-body top-border range">
                <p>{{'Drag for how long will the challenge be available in days' | translate}}</p>
            </div>
            <div class="item item-divider">
              {{'Tags' | translate}}
            </div>
            <div class="item item-body item-tags" ng-class="{'hasTags' : tag.length}">
              <i class="icon ion-pound placeholder-icon"></i>
              <tags-input allow-leftover-text="true" ng-model="tag" class="tags-in" allowed-tags-pattern="^[a-zA-Z0-9]+$" placeholder="{{'Add a tag' | translate}}">
              </tags-input>
            </div>
            <div class="item item-divider">
              {{'People' | translate}}
            </div>
            <div class="item item-input add-people" ng-click="users.show()">
              <i class="icon ion-person-add placeholder-icon"></i>
              <span class="input-label" ng-hide="tagpeople.length">{{'Tag people' | translate}}</span>
              <span class="input-label people" ng-show="tagpeople.length"><span ng-repeat="people in tagpeople">{{people.username}}</span></span>
            </div>
            <div class="item item-divider">
                {{'Share' | translate}}
            </div>
            <ion-toggle ng-model="shared" ng-change='share(this)' toggle-class="toggle-energized">
                {{'Facebook' | translate}}
            </ion-toggle>
        </div>

    </ion-content>
</ion-view>

<script id="upload-media.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-energized">
      <button type="button" class="button button-icon icon ion-ios7-close-empty" ng-click="myGoBack()"></button>
      <h1 class="title">{{'Upload Media' | translate}}</h1>
    </ion-header-bar>
    <ion-content>
      <div class="item item-body top-border">
        <div ng-hide="imgdata" class="add-media">
          <div class="row">
            <div ng-click="capturePhoto()" class="col photo">
              <i class="icon ion-image"></i>
              <p>{{'Photo' | translate}}</p>
            </div>
          </div>
          <div class="row">
            <div ng-click="captureVideo()" class="col video">
              <i class="icon ion-videocamera"></i>
              <p>{{'Video' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="users.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-energized">
      <h1 class="title">{{'People' | translate}}</h1>
      <button type="button" class="button button-icon icon ion-ios-checkmark-empty" ng-click="users.hide()"></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <i class="icon ion-person-add placeholder-icon"></i>
          <input type="search" ng-model="search" ng-change="getUsers(search)" placeholder="Search">
        </label>
        <ion-checkbox class="checkbox-energized" ng-repeat="item in devList"
                      ng-model="item.checked"
                      ng-change='addPerson(item)'>
          {{ item.username }}
          <img src="http://lorempixel.com/100/100/people/?id={{item._id}}" alt=""/>
        </ion-checkbox>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
