<ion-view title="{{'Notifications' | translate}}">
    <ion-content class="has-header notifications">
      <div class="list">

        <a class="item item-avatar item-icon-right" ui-sref="app.evidence">
          <img src="http://lorempixel.com/80/80/people/">
          <h2>Baymax Ogol</h2>
          <p>Has done it Good</p>
          <i class="icon ion-flash energized"></i>
        </a>
        <a class="item item-avatar item-icon-right" href="#">
          <img src="http://lorempixel.com/80/80/animals/">
          <h2>P. Body</h2>
          <p>Has done this!</p>
          <i class="icon ion-happy energized"></i>
        </a>
        <a class="item item-avatar item-icon-right" href="#">
          <img src="http://lorempixel.com/80/80/">
          <h2>Sergio K A.</h2>
          <p>Nine Inch Nails</p>
          <i class="icon ion-plus-round energized"></i>
        </a>
        <a class="item item-avatar item-icon-right" href="#">
          <img src="http://lorempixel.com/80/81/people/">
          <h2>Galdys Arango Robledo de las Miz</h2>
          <p>Has one 3 points</p>
          <i class="icon ion-flash energized"></i>
        </a>

      </div>
    </ion-content>
</ion-view>
