<ion-modal-view>
  <form name="formChangePass" ng-submit="changePass(formChangePass)">
    <ion-header-bar class="bar bar-header bar-energized">
      <button type="button" class="button button-icon icon ion-ios7-close-empty" ng-click="changepass.hide()"></button>
      <div class="h1 title">{{'Change password' | translate}}</div>
      <button type="submit" class="button button-icon icon ion-ios7-checkmark-empty" ng-disabled="!formChangePass.$valid"></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="item item-input">
          <input placeholder="{{'Current password' | translate}}" type="password" name="oldpass" class="form-control" ng-model="password.old" required>
        </div>
        <div class="item item-input">
          <input placeholder="{{'New password' | translate}}" type="password" name="newpass" class="form-control" ng-model="password.new" required>
        </div>
        <div class="item item-input">
          <input placeholder="{{'Re-enter new password' | translate}}" type="password" name="renewpass" class="form-control" ng-model="password.renew" required>
        </div>
      </div>
    </ion-content>
  </form>
</ion-modal-view>
