<div class="hide-upload notification" ng-show="notification.show">
  <div id="complete-upload" ng-class="notification.show">
    <div class="list">
      <div class="item item-icon-right">
        <h2>10 points to griffidor!</h2>
        <p>click here to view</p>
        <i class="icon ion-ios-close-empty energized" ng-click="closeComplete()"></i>
      </div>
    </div>
  </div>
</div>

