<div class="card profile">
  <div class="user-profile">
    <div class="row">
      <div class="col col-25">
        <img class="profile-img" ng-src="{{user.picture}}" err-src alt=""/>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <h2>{{user.username}}</h2>
            <h3>39k <span class="icon ion-happy"></span> </h3>
          </div>
          <div class="col text-right">
            <button class="button button-small button-energized" ng-show="canFollow()" ng-click="follow()">
              follow {{user.username}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row stats">
      <div class="col" ng-click="tabs(0)" ng-class="tabChallenge ? 'active':''">
        <p>{{'Challenges' | translate}}</p>
      </div>
      <div class="col" ng-click="tabs(1)" ng-class="tabFollowers ? 'active':''">
        <p>{{'Followers' | translate}}</p>
      </div>
      <div class="col" ng-click="tabs(2)" ng-class="tabFollowing ? 'active':''">
        <p>{{'Following' | translate}}</p>
      </div>
    </div>

  </div>
</div>
<ion-content class="has-header profile-header">
  <div ng-show="tabChallenge" class="challenges">
    <div class="tabs-top">
      <div class="tabs">
        <a class="tab-item" ng-class="created ? 'active' : ''" ng-href="" ng-click="setChallenge(1)">
          {{'My Challenges' | translate}}
        </a>
        <a class="tab-item" ng-class="progress ? 'active' : ''" ng-href="" ng-click="setChallenge(2)">
          {{'In progress' | translate}}
        </a>
        <a class="tab-item" ng-class="completed ? 'active' : ''" ng-href="" ng-click="setChallenge(3)">
          {{'Completed' | translate}}
        </a>
      </div>
    </div>
    <div challenge-directive type="general"></div>
  </div>
  <div ng-show="tabFollowers" class="followers">
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="http://lorempixel.com/80/80/people/">
        <h2>Guachu guachu</h2>
        <p>Nine Inch Nails</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="http://lorempixel.com/80/80">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="http://lorempixel.com/80/81/people/">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>
    </div>
  </div>
  <div ng-show="tabFollowing" class="following">
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="http://lorempixel.com/80/80/people/">
        <h2>Guachu guachu</h2>
        <p>Nine Inch Nails</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="http://lorempixel.com/80/80">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="http://lorempixel.com/80/81/people/">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>
    </div>
  </div>

</ion-content>
