<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-energized">
        <button type="button" class="button button-icon icon ion-ios7-close-empty" ng-click="evidenceModal.hide()"></button>
        <div class="h1 title">{{'Upload Evidence' | translate}}</div>
        <button type="button" class="button button-icon icon ion-ios7-checkmark-empty" ng-click="clicked()"></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="item item-body top-border">
          <div ng-hide="imgdata" class="add-media">
            <div class="row">
              <div ng-click="capturePhoto()" class="col photo">
                <i class="icon ion-image"></i>
                <p>{{'Photo' | translate}}</p>
              </div>
              <div ng-click="captureVideo()" class="col video">
                <i class="icon ion-videocamera"></i>
                <p>{{'Video' | translate}}</p>
              </div>
            </div>
          </div>
          <img style="width: 100%;" ng-show="imgdata" ng-src="{{imgdata}}" alt=""/>
        </div>
        <label class="item item-input item-input-description">
          <i class="icon ion-chatbubble placeholder-icon"></i>
          <input type="text" ng-model="evidence.description" placeholder="{{'Description' | translate}}">
        </label>
      </div>
    </ion-content>
</ion-modal-view>
