<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-energized">
        <button type="button" class="button button-icon icon ion-ios7-close-empty" ng-click="uploadModal.hide()"></button>
        <div class="h1 title">{{'Profile picture' | translate}}</div>
    </ion-header-bar>
    <ion-content class="padding upload-pic">
      <div class="list">
        <div class="item profile-img-wrap">
          <img class="profile-img" ng-src="{{profileImg}}" err-src alt=""/>
        </div>
        <div class="item item-body">
          <div class="add-media upload">
            <div class="row">
              <div ng-click="capturePhoto()" class="col photo">
                <i class="icon ion-camera"></i>
                <p>{{'Camara' | translate}}</p>
              </div>
              <div ng-click="captureGallery()" class="col video">
                <i class="icon ion-images"></i>
                <p>{{'Gallery' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-modal-view>
