<div id="global-loader" ng-show="loadPercent">
  <div class="load-bar" style="width: {{loadPercent}}%;"></div>
</div>
<div class="hide-upload" ng-show="activeUpload">
  <div id="complete-upload" class="{{completeUpload}}">
    <div class="list">
      <div class="item item-avatar item-icon-right">
        <img src="http://lorempixel.com/100/100/people/">
        <h2>Ice bucket challenge complete</h2>
        <p>click here to view</p>
        <i class="icon ion-ios-close-empty energized" ng-click="closeComplete()"></i>
      </div>
    </div>
  </div>
</div>

