<ion-modal-view>
    <form name="formLogin" ng-submit="doLogin(formLogin)" novalidate>
    <ion-header-bar class="bar bar-header bar-energized">
        <button type="button" class="button button-icon icon ion-ios7-close-empty" ng-click="loginModal.hide()"></button>
        <div class="h1 title">{{'Log in' | translate}}</div>
        <button type="submit" class="button button-icon icon ion-ios7-checkmark-empty" ng-disabled="!formLogin.$valid"></button>
    </ion-header-bar>
    <ion-content>

            <div class="list">
                <div class="item" ng-show="formLogin.email.$error.required && formLogin.password.$error.required && submitted">
                    <h2 class="title">Oops</h2>
                    <p>
                        {{ 'Please type you email and password' | translate}}
                    </p>
                </div>
                <div class="item item-input">
                    <input placeholder="{{'Email' | translate}}" type="text" name="email" class="form-control" ng-model="user.email" required>
                </div>
                <div class="item item-input">
                    <input placeholder="{{'Password' | translate}}" type="password" name="password" class="form-control" ng-model="user.password" required>
                </div>
            </div>
    </ion-content>
    </form>
</ion-modal-view>
