<ion-modal-view>
  <form name="form" ng-submit="doSignup(form)" novalidate>
    <ion-header-bar class="bar bar-header bar-energized">
        <button type="button" class="button button-icon icon ion-ios7-close-empty" ng-click="signupModal.hide()"></button>
        <div class="h1 title">{{'Sign up' | translate}}</div>
        <button type="submit" class="button button-icon icon ion-ios7-checkmark-empty" ng-disabled="!form.$valid"></button>
    </ion-header-bar>
    <ion-content>
            <div class="list">
                <div class="item" ng-show="
                form.email.$error.required &&
                form.password.$error.required &&
                form.username.$error.required &&
                submitted">
                    <h2 class="title">Oops</h2>
                    <p>
                        {{ 'Please type you email and password and username'}}
                    </p>
                </div>
                <div class="item item-input">
                    <input placeholder="{{'Username' | translate}}" type="text" name="username" class="form-control" ng-model="user.username" required>
                </div>
                <div class="item item-input">
                    <input placeholder="{{'Email' | translate}}" type="email" name="email" class="form-control" ng-model="user.email" required>
                </div>
                <div class="item item-input">
                    <input placeholder="{{'Password' | translate}}" type="password" name="password" class="form-control" ng-model="user.password" required>
                </div>
            </div>
    </ion-content>
  </form>
</ion-modal-view>
