<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-striped tabs-color-energized {{hideTabs}}">


  <ion-tab title="Home" icon="ion-home" ui-sref="app.home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Evidence" icon="ion-play" ui-sref="app.evidence" badge="notiCount" badge-style="badge-energized">
    <ion-nav-view name="evidence"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Create" icon="ion-flash" ui-sref="app.create" class="active create-tab">
    <ion-nav-view name="create"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifications" icon="ion-android-notifications" badge="notiCount" badge-style="badge-energized" on-select="onTabSelected()" ui-sref="app.notifications">
    <ion-nav-view name="notifications"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon="ion-person" ui-sref="app.profile">
    <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
