<ion-view hide-nav-bar="true" class="content padding splash">
  <h1 ng-hide="fbto">Challenge.me</h1>
  <p ng-show="fbto">{{fbto | json}}</p>
  <button ng-click="facebookLogin()" class="button button-block button-positive icon-left ion-social-facebook">
    {{'Facebook Sign in' | translate}}
  </button>
  <button ng-click="signupModal.show()" class="button button-block button-energized">
    {{'Email Sign Up' | translate}}
  </button>
  <button ng-click="loginModal.show()" class="button button-block">
    {{'Log In' | translate}}
  </button>
</ion-view>
